<!DOCTYPE html>
<% name = deletename%>
<html>
    <head>
        <meta charset="utf-8">
        <title><% name %> Delete</title>
    </head>
    <link rel="stylesheet" href="/stylesheets/delete.css">
    <body>
        <div class="box-1">
        <h2 align="center"> <% name %> Delete!!</h2>
        <br><br>
        <div align="center">
            <form action="/tokimon" method="POST">
            <button type="submit">Back To Tokimon</button>
            </form>
        </div>
        </div>
    </body>
</html>