<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Pages</title>
  </head>

  <body>
    <h1>Tokimon</h1><br>
    <p>A Tokimon is a rare creature found in the remote areas of Korea. For the most part, they
      resemble rabbits and the only form of communication they have with us is the ability to say
      their own name. Tokimons come in all shapes and sizes, have special abilities, and tend to fight
      with each other on occasion. Each Tokimon could have the ability to fly, fight, throw fire, spray
      water, electrify, and freeze other Tokimons; their ability is measured by an integer between 0
      and 100. Because they are such primitive creatures but have such extraordinary abilities, they
      need Tokimon trainers. The trainer’s is job to collect Tokimons and use them accordingly. We
      would like to write an application to track the known Tokimons in existence.</p>
      <br>
      <form action="" method="POST"><button>Home</button></form>
      <form action="/Tokimons" method="POST"><button>Tokimon</button></form>
      <form action="/Trainers" method="POST"><button>Trainer</button></form>
  </body>

</html>